
/* zero out margin/padding */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

/* full screen container */
div#tv-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div#dvd {
    position: absolute;
    background-color: blue;
}

div#debug {
    position: absolute;
    bottom: 0;
    left: 0;
}

div#help {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*justify-content: center; */
    position: absolute;
    font-size: 1rem;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px;
    background-radius: 2px;
    background-color: #222;
}

div#help div#close-button {
    font-family: Garamond, "Apple Garamond";
    align-self: end;
    cursor: pointer;
}

div#help div#close-button:hover {
    opacity: 50%;
}
